.paginationContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  height: 42px;
  margin-top: 30px;
  padding-bottom: 51px;
  align-items: flex-start;
  color: #5f647a;
  border-top: solid 1px lightgray;
  line-height: 54px;
}

.numbersContainer {
  display: flex;
  justify-content: space-between;
  width: 327px;
  cursor: pointer;
  color: #5f647a;
}

.numbersContainer div {
  width: 42px;
  text-align: center;
  height: 42px;
}

.numbersContainer div:active,
.numbersContainer div:focus {
  border-top: solid 1px blue;
  color: blue;
}

.active {
  border-top: solid 1px blue;
  color: blue;
  margin-top: -1px;
}

.anteriorContainer {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.anteriorContainerhidden {
  visibility: hidden;
}

.proximoContainer {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.proximoContainerHidden {
  visibility: hidden;
}

.pageRenderInMobile {
  display: none;
}

@media (max-width: 500px) {
  .numbersContainer {
    display: none;
  }
  .pageRenderInMobile {
    display: block;
  }
}
