/* EN RESPONSIVE */

.cardItemContainer {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 20px 0px;
  gap: 12px;
  height: 180px;
  background: #ffffff;
  border-bottom: 1px solid #e3e5ed;
  align-self: stretch;
}

.cardItemImage {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  width: 120px;
  height: 106px;
  background-size: cover;
  background-position: center;
}

.cardItemImageContainer {
  width: 120px;
  height: 106px;
  border-radius: 8px;
  position: relative;
}

.cardItemImageButton {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 4px;
  gap: 10px;
  position: absolute;
  width: 28px;
  height: 28px;
  right: 4px;
  top: 4px;
  background: #f2f3f8;
  border-radius: 64px;
  border-style: none;
}

.iconContainer {
  width: 20px;
  height: 20px;
  top: 4px;
  left: 4px;
}

.iconContainer * img {
  position: absolute;
  left: 15%;
  right: 9.75%;
  top: 6%;
  bottom: 12.25%;
  width: 20px;
  height: 25px;
}

.cardItemContentContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;
  width: 263px;
  height: 140px;
  flex: none;
  order: 1;
  flex-grow: 1;
}

.noProductsSelected {
  text-align: center;
  font-size: 1em;
  margin: 0 auto;
}


.brandVersionContainer {
  display: flex;
  width: 263px;
  height: 40px;
  color: #1b2141;
  border-radius: 4px;
  /* order: 0; */
  align-self: stretch;
}

.brand {
  font-family: "Raleway-black", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  font-feature-settings: "pnum" on, "lnum" on;
}

.version {
  font-family: "Raleway-medium", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  font-feature-settings: "pnum" on, "lnum" on;
  margin-left: 0.3rem;
}

.price {
  width: 100px;
  height: 28px;
  font-family: "Raleway-medium", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #ff7042;
  border-radius: 4px;
  margin-top: 5px;
}

.modalContainer {
  display: flex;
  gap: 12px;
  margin-bottom: -15px;
}

.yearModalContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2px 8px;
  gap: 4px;
  width: 44px;
  height: 20px;
  background: #ebecf5;
  border-radius: 64px;
}

.yearModalContainer div {
  width: 28px;
  height: 16px;
  font-family: "Raleway-medium", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: center;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #1b2141;
}

.mileageModalContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2px 8px;
  gap: 4px;
  width: 81px;
  height: 20px;
  background: #ebecf5;
  border-radius: 64px;
}

.mileageModalContainer div {
  width: 65px;
  height: 16px;
  font-family: "Raleway-medium", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: center;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #1b2141;
  text-align: center;
  display: flex;
  justify-content: center;
}

.cityState {
  width: 263px;
  height: 18px;
  font-family: "Raleway-medium", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #87899c;
  border-radius: 4px;
  margin-top: -10px;
}

.simularParcelas {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 4px;
  height: 18px;
  border-radius: 4px;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.simularParcelas a {
  width: 100%;
  height: 18px;
  font-family: "Raleway-black", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #566ded;
}

.simularParcelas img {
  width: 12.07px;
  height: 13px;
}

/* GALERY */

.cardItmeImageGalery {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: self-end;
  height: 100%;
  gap: 8px;
}

.cardItmeImageGalery span:first-child {
  height: 8px;
    width: 16px;
    background: white;
    border-radius: 999px;
    bottom: 8px;
    margin-bottom: 8px;
}


.cardItmeImageGalery span {
  height: 8px;
    width: 8px;
    margin-bottom: 8px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 999px
}



@media (max-width: 400px) {
  .brandVersionContainer {
    width: 200px;
  }
  .cardItemContentContainer {
    width: 200px;
  }
  .cityState {
    width: 200px;
  }
}

@media (max-width: 345px) {
  .cityState {
    width: 100px;
  }
  .brandVersionContainer {
    width: 150px;
  }
  .cardItemContentContainer {
    width: 100px;
  }
  .modalContainer {
    gap: 0;
  }
  .price {
    margin-top: 25px;
  }
  .simularParcelas {
    width: 150px;
  }
  .cardItemContainer {
    height: 200px;
  }
  .cardItemImage {
    height: 125px;
    top: 5%;
  }
  .cardItemImageButton {
    top: 10px;
  }
}
