.cardContainerRow {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  background: #ffffff;
  margin-top: 30px;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
}

.cardContainerColumn {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
  position: absolute;
  width: 904px;
  height: 418px;
  /* left: 365px; */
  top: 145px;
  flex-wrap: wrap;
}

.resultadosDeBusquedaParagraph {
  position: absolute;
  width: 182px;
  height: 20px;
  left: 30px;
  top: 47px;
  /* SM Reg */
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */
  font-feature-settings: "pnum" on, "lnum" on;
  /* Grey/Grey 1000 */
  color: #1b2141;
}

.dashboardIconContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 12px;
  position: absolute;
  width: 34px;
  height: 28px;
  left: calc(100vw - 50px);
  top: 55px;
}

.dashboardIconContainer div {
  width: 28px;
  height: 28px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.dashboardIconContainer div img {
  position: absolute;
  left: 13.54%;
  right: 13.54%;
  top: 13.54%;
  bottom: 13.54%;
}


.limpiarFiltrosContainer {
  position: absolute;
  top: 61px;
  width: 135px;
  display: flex;
  align-items: center;
  gap: 10px;
  height: 28px;
  left: 1139px;
  font-size: 14px;
  color: #566DED;
}




@media (max-width: 500px) {
  /* .cardContainerRow {
    width: 100%;
  } */
  .cardContainerRow > div {
    margin-bottom: 1.5rem;
    margin-left: 1rem;
  }
  .cardContainerMobile {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 290px;
    align-items: flex-start;
    padding: 0px;
    gap: 26px;
    min-height: 418px;
    margin-top: 46px;
    margin-left: auto;
    margin-right:auto;
    flex-wrap: wrap;
    position: relative;
  }
  
}
