.headerContainer {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 1px 16px 0px;
  height: 60px;
  background: #ffffff;
  border-top: 1px solid #e3e5ed;
}

.buscarLink {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 4px;
  width: 204.5px;
  height: 20px;
  border-radius: 4px;
}

.filtrarLink {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 4px;
  width: 204.5px;
  height: 20px;
  border-radius: 4px;
}

.link { 
width: 47px;
height: 20px;
font-family: 'Raleway-black', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 20px;
display: flex;
align-items: center;
text-align: center;
font-feature-settings: 'pnum' on, 'lnum' on;
color: #566DED;
}
