/* EN Desktop */

.cardItemContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  width: 290.67px;
  height: 418px;
  background: #ffffff;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.06), 0px 1px 3px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  /* flex: none;
  order: 0;
  flex-grow: 1; */
}

.cardItemImage {
  width: 274.67px;
  height: 196px;
  background-size: cover;
  background-position: center;
}

.cardItemImageContainer {
  width: 274.67px;
  height: 196px;
  border-radius: 8px;
  margin: 8px;
  position: relative;
}

.cardItemImageButton {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 4px;
  gap: 10px;
  position: absolute;
  width: 28px;
  height: 28px;
  right: 4px;
  top: 4px;
  background: #f2f3f8;
  border-radius: 64px;
  border-style: none;
}

.iconContainer {
  width: 20px;
  height: 20px;
  /* flex: none;
  order: 0;
  flex-grow: 0; */
  top: 4px;
  left: 4px;
}

.iconContainer * img {
  position: absolute;
  left: 11%;
  right: 9.75%;
  top: 1.5%;
  bottom: 12.25%;
  width: 22px;
  height: 28px;
}

.cardItemContentContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;
  width: 263px;
  height: 140px;
  flex: none;
  order: 1;
  flex-grow: 1;
  margin: 14px 16px;
}

.brandVersionContainer {
  display: flex;
  /* width: 263px; */
  width: 275px;
  height: 40px;
  color: #1b2141;
  border-radius: 4px;
  /* order: 0; */
  align-self: stretch;
  /* flex-grow: 0; */
}

.brand {
  font-family: "Raleway-black", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  font-feature-settings: "pnum" on, "lnum" on;
}

.version {
  font-family: "Raleway-medium", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  font-feature-settings: "pnum" on, "lnum" on;
  margin-left: 0.3rem;
}

.price {
  width: 100px;
  height: 28px;
  font-family: "Raleway-medium", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #ff7042;
  border-radius: 4px;
  margin-top: 5px;
}

.modalContainer {
  display: flex;
  gap: 12px;
  margin-bottom: -15px;
}

.yearModalContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2px 8px;
  gap: 4px;
  width: 44px;
  height: 20px;
  background: #ebecf5;
  border-radius: 64px;
}

.yearModalContainer div {
  width: 28px;
  height: 16px;
  font-family: "Raleway-medium", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: center;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #1b2141;
}

.mileageModalContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2px 8px;
  gap: 4px;
  width: 81px;
  height: 20px;
  background: #ebecf5;
  border-radius: 64px;
}

.mileageModalContainer div {
  width: 65px;
  height: 16px;
  font-family: "Raleway-medium", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: center;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #1b2141;
  text-align: center;
  display: flex;
  justify-content: center;
}

.cityState {
  width: 263px;
  height: 18px;
  font-family: "Raleway-medium", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #87899c;
  border-radius: 4px;
  margin-top: -10px;
}

.simularParcelas {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 4px;
  height: 18px;
  border-radius: 4px;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.simularParcelas a {
  width: 100%;
  height: 18px;
  font-family: "Raleway-black", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #566ded;
}

.simularParcelas img {
  width: 12.07px;
  height: 13px;
}

.carrosEncontradosYRelevantes {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  margin-bottom: -16px;
}

/* Links */

.links a {
  color: #566ded;
    cursor: pointer;
    font-size: 14px;
    line-height: 20px;
    font-family: "Raleway-Medium", sans-serif;
    font-weight: 500;
}


/* Mas Relevantes */

.masRelevantesEIconContainer {
  display: flex;
  align-items: center;
  width: 157px;
  border-radius: 4px;
  gap: 4px;
  justify-content: center;
  padding: 0;
  color: #566ded;
  cursor: pointer;
}

.masRelevantesEIconContainer p {
  font-size: 14px;
  line-height: 20px;
}

.masRelevantesUnorderList {
  position: absolute;
  top: 20px;
  z-index: 10;
  background: white;
  font-size: 14px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.active {
  max-height: 550px;
}

.masRelevantesUnorderList li {
  list-style: none;
  cursor: pointer;
  padding: 1rem;
  border-bottom: 1px solid lightgray;
  border-left: solid white;
  font-size: 14px;
  margin-left: -40px;
  padding-right: 25px;
  text-align: center;
  width: 100%;
  color: black;
}

.masRelevantesUnorderList li:hover {
  list-style: none;
  cursor: pointer;
  padding: 1rem;
  border-bottom: 1px solid lightgray;
  border-left: 4px solid #566ded;
  font-size: 14px;
  margin-left: -40px;
  padding-right: 25px;
  text-align: center;
  width: 100%;
  color: #566ded;
}

/* GALERY */

.cardItmeImageGalery {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: self-end;
  height: 100%;
  gap: 8px;
}

.isActive {
  height: 8px !important;
  width: 16px !important;
  background: white !important;
  border-radius: 999px !important;
  bottom: 8px !important;
  margin-bottom: 8px !important;
}

.cardItmeImageGalery span {
  height: 8px;
  width: 8px;
  margin-bottom: 8px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 999px;
  cursor: pointer;
}

.pageRenderInMobile {
  display: none;
}

.noProductsSelected {
  text-align: center;
  font-size: 1em;
  margin: 0 auto;
}


@media (max-width: 500px) {
  .cardItemContainer {
    margin-left: auto;
    margin-right: auto;
  }
}

.numbersContainer {
  display: none;
}
.pageRenderInMobile {
  display: block;
}

.dropdown {
  display: none;
  position: absolute;
  background-color: #fff;
  z-index: 1;
}

li:hover .dropdown {
  display: block;
}

.dropdown li {
  padding: 10px;
  cursor: pointer;
  list-style: none;
}

.open .dropdown {
  display: block;
}
