.listContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: #ffffff;
  margin-top: 61px;
}

.unorderList {
  list-style: none;
}

.unorderList li {
  padding: 1rem;
  cursor: pointer;
  border-bottom: solid 1px lightgray;
}

.dropdown {
  display: none;
  background-color: #fff;
  z-index: 1;
}

li:hover .dropdown {
  display: block;
  padding-inline-start: 0;
}

.dropdown li {
  padding: 10px;
  padding-left: 0;
  cursor: pointer;
  list-style: none;
}

.dropdown li:hover {
  color: blue;
}

.open .dropdown {
  display: block;
}

.listContainer div {
  display: flex;
  justify-content: space-between;
  width: 230px;
  align-items: center;
}

.orderByPrice {
  text-align: center;
  position: absolute;
  top: 26px;
  left: 55px;
  cursor: pointer;
  color: #566ded;
  width: 155px;
  display: flex;
  align-items: center;
  height: 28px;
  font-size: 14px;
  gap: 8px;
}

.spanInListItem {
  color: #87899c;
  margin-left: 10px;
}

/* SCROLLBAR */

/* ::-webkit-scrollbar {
  width: 0.1em;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0);
} */

/* MEDIA QUERYS */

@media (max-width: 400px) {
  .listContainer div {
    width: 100px;
  }
}

@media (max-width: 500px) {
  .orderByPrice {
    display: none;
  }
}
